services:
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4-alpine
    container_name: martingarrix-lavalink
    restart: unless-stopped
    environment:
      # set Java options here (6GB heap size)
      - _JAVA_OPTIONS=-Xmx6G
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
      - ./lavalink/plugins/:/opt/Lavalink/plugins/
    networks:
      - martingarrix
    expose:
      # lavalink exposes port 2333 to connect to for other containers
      - 2333

  bot:
    image: ghcr.io/milindmadhukar/martingarrixbot:master
    container_name: martingarrixbot
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - ./config.docker.toml:/var/lib/config.toml
      - ./mgbot-google-service.json:/etc/secrets/mgbot-google-service.json
      - ./garrixbot.log:/bot/garrixbot.log
    command: -config=/var/lib/config.toml --sync-commands=true
    restart: unless-stopped
    networks:
      - martingarrix
    depends_on:
      - lavalink

networks:
  martingarrix:
    name: martingarrix
